.header {
  position: sticky;
  top: 0;
  background-color: #879495;
  padding: 20px 0;
  z-index: 99;
}
.header-profile {
  width: 50px;
  height: 50px;
}
.header-profile img {
  width: 100%;
  height: 100%;
}

.logout {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  background-color:#d6b857 ; 
}

.logout:hover{
  background-color: #ddac09 !important;
}