* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
body {
  margin: 0;
  padding: 0;
}

.swal2-container{
  width: 100% !important;
  height:100vh !important;
}